 
  .card {
    margin: 20px;
    border-radius: 6px;
    padding: 20px;
    overflow: hidden;
    background: white;
  }
  
  .item-item {
    margin: 50px;
    padding: 50px;
  }
  
  .item-item__content {
    padding: 50px;
  }
  
  .item-item__info h2 {
    color: pink;
  }
