.avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .avatar img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card {
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: white;
  }
  
  .sale-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
  }
  
  .sale-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #7a3030;
  }
  
  .sale-item a:hover,
  .sale-item a:active {
    background: #9a5bb8;
  }
  
  .sale-item__content {
    padding: 0;
  }
  
  .sale-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  
  .sale-item__info h2 {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: pink;
  }
  
  .sale-item:hover h2,
  .sale-item:active h2,
  .sale-item:hover h3,
  .sale-item:active h3 {
    color: #292929;
  }
  
  .sale-item__info h3 {
    margin: 0;
  }
  .sales-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }